@import '../../assets/fontawesome/css/all.min.css';

article {
    display: block;
    font-size: var(--todo-list-font-size);
    display: grid;
    grid-template-columns: auto 1fr 3rem;
    grid-template-rows: auto auto;
    gap: var(--todo-state-space);
    align-items: center;

    margin: var(--todo-item-space) 0;

    &.is-done {
        .todo-state {
            .check {
                position: absolute;
                display: block;

                top: -3px;
                left: 0;
                font-size: 1.5rem;
            }
        }

        .todo {
            .todo-static {
                text-decoration: line-through;
                color: var(--todo-gray-color);
            }
        }

        .todo-actions {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: var(--todo-item-space);

            opacity: 0;
        }
    }

    &.editable {
        .todo-actions {
            opacity: 1;

            .edit {
                &:hover {
                    color: var(--success-color);
                }
            }

            .delete {
                visibility: hidden;
            }
        }
    }

    &:hover {
        .todo-actions {
            opacity: 1;
        }
    }

    .todo-state {
        cursor: pointer;
        border: 2px solid black;
        border-radius: 100%;

        position: relative;

        width: var(--todo-list-font-size);
        height: var(--todo-list-font-size);

        &:hover {
            .check {
                position: absolute;
                display: block;

                top: -3px;
                left: 0;
                font-size: 1.5rem;

                color: var(--todo-gray-highlight-color) !important;
            }
        }

        .check {
            color: var(--todo-gray-color);
            display: none;
        }
    }

    .todo {
        &.editable {
            padding-bottom: 0;

            .todo-input {
                display: inline-block;
            }

            .todo-static {
                display: none;
            }
        }

        .todo-input {
            display: none;

            background-color: transparent;
            outline: none;
            border: none;

            border-bottom: 2px solid black;

            font-size: 1.25rem;

            width: 100%;

            padding: 0;
        }

        .todo-static {
            display: inline-block;
            padding-bottom: 2px;
        }
    }

    .todo-actions {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: var(--todo-item-space);

        opacity: 0;

        .action {
            color: var(--todo-gray-color);
            font-size: 1rem;

            &:first-of-type {
                margin-left: auto;
            }

            &:hover {
                color: var(--todo-gray-highlight-color);
                cursor: pointer;
            }
        }
    }
}
