:root {
    --todo-list-font-size: 1.25rem;
    --todo-item-space: 10px;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;

    height: 100vh;
}
