:host {
    display: flex;
    justify-content: center;
    align-content: center;

    height: 100vh;
}

.todo-list-container {
    display: block;
    width: 450px;

    align-self: center;

    background-color: #eeeeee;

    padding: 15px;

    box-shadow: 0px 0px 7.5px -5px rgba(0, 0, 0, 0.25);
    border: 1px solid #f0f0f0;
}

.todo-list-container .todo-list-title {
    text-align: center;

    margin: 0;
    padding: 0;
}

.todo-list-container .todo-list {
    list-style: none;
    margin: 30px auto 15px;
    padding: 0;

    width: 80%;
}
